<html th:include="template :: modelo" lang="pt-br">
<div th:fragment="conteudo">

    <form action="" method="post">
        <h1 class="text-center">Cadastre seu pet aqui</h1>
        <div class="mb-3">
            <label for="nomePet" class="form-label">Nome</label>
            <input type="text" id="nomePet" class="form-control" placeholder="Como você chama seu pet?">
        </div>
        <div class="mb-3">
            <label for="tipoPet" class="form-label">Qual é o seu animal?</label>
            <input type="text" id="nomePet" class="form-control"
                placeholder="Gato? Cachorro? Coelho? Se da para vacinar da para cadastrar :)">
        </div>
        <div class="mb-3">
            <label for="raca" class="form-label">Raça</label>
            <input type="text" id="raca" class="form-control" placeholder="Qual a raça dele?">
        </div>

        <div class="mb-3">
            <label for="dtNasc" class="form-label">Data de Nascimento</label>
            <input type="date" id="dtNasc" class="form-control" placeholder="dd/mm/yyyy">
        </div>
        <div class="mb-3">
            <label for="sexo" class="form-label">Sexo</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="M" id="sexM">
                <label class="form-check-label" for="sexM">
                    M
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="F" id="sexF">
                <label class="form-check-label" for="sexF">
                    F
                </label>
            </div>
        </div>
        <button type="submit" class="btn text-light" style="background-color: #004275;">Cadastrar</button>
    </form>
</div>

</html>