<html th:include="template :: modelo" lang="pt-br">
<div th:fragment="conteudo">
    <h1 class="text-center">Estes são seus pets cadastrados</h1>
    <div>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo de Animal</th>
                        <th scope="col">Raça</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Idade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">Yoruichi</td>
                        <td>Gato</td>
                        <td>Vira-lata</td>
                        <td>F</td>
                        <td>4 Anos</td>
                    </tr>
                    <tr class="">
                        <td scope="row">Hachiko</td>
                        <td>Cachorrro</td>
                        <td>Akita</td>
                        <td>M</td>
                        <td>12 Anos</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</html>