<html th:include="template :: modelo" lang="pt-br">
<div th:fragment="conteudo">
    <h1 class="text-center">Estes são todos os clientes cadastrados</h1>
    <div>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">Juca Silva</td>
                    </tr>
                    <tr class="">
                        <td scope="row">Wanda Addams</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</html>