<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body class="container">
    <h1 class="text-center">Estes são todos os clientes cadastrados</h1>
    <div>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">Juca Silva</td>
                    </tr>
                    <tr class="">
                        <td scope="row">Wanda Addams</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>