<html th:include="template :: modelo" lang="pt-br">
<div th:fragment="conteudo">
    <form action="" method="post">
        <h1 class="text-center">Adione a nova vacina do animal:</h1>
        <div class="mb-3">
            <label for="periodicidade" class="form-label">Animal</label>
            <select class="form-select form-select" name="" id="periodicidade">
                <option selected value="0">Selecione</option>
                <option value="0,5">Yoruichi</option>
                <option value="1,0">Hachiko</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="periodicidade" class="form-label">Vacina</label>
            <select class="form-select form-select" name="" id="periodicidade">
                <option selected value="0">Selecione</option>
                <option value="0,5">Antirrábica</option>
                <option value="1,0">Giárdia</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="tipoVac" class="form-label">Data</label>
            <input type="date" id="tipoVac" class="form-control" placeholder="Qual o principal foco dessa vacina?">
        </div>

        <div class="mb-3">
            <label for="tipoVac" class="form-label">Observações</label>
            <input type="text" id="tipoVac" class="form-control" placeholder="Alguma observação? (Opcional)">
        </div>

        <button type="submit" class="btn text-light" style="background-color: #a5c1ce;">Cadastrar</button>
    </form>
</div>

</html>