<html th:include="template :: modelo" lang="pt-br">
<div th:fragment="conteudo">

    <form action="/vacinarAnimal" method="post" th:object="${procedimento}">
        <h1 class="text-center">Adione a nova vacina do animal:</h1>
        <div class="mb-3">
            <label for="animal" class="form-label">Animal</label>
            <select th:field="*{animal.id_animal}" class="form-select form-select" id="animal">
                <option th:each="animal : ${animal}" th:value="${animal.id_animal}" th:text="${animal.nome_animal}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="vacina" class="form-label">Vacina</label>
            <select th:field="*{vacina.id_vacina}" class="form-select form-select" id="vacina">
                <option th:each="vacina : ${vacina}" th:value="${vacina.id_vacina}" th:text="${vacina.nome_vacina}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label for="tipoVac" class="form-label">Data</label>
            <input type="date" id="tipoVac" class="form-control" th:field="*{data_vacinacao}">
        </div>

        <div class="mb-3">
            <label for="tipoVac" class="form-label">Observações</label>
            <input type="text" id="tipoVac" class="form-control" placeholder="Alguma observação? (Opcional)"
                th:field="*{observacoes}">
        </div>

        <button type="submit" class="btn text-light" style="background-color: #004275;">Cadastrar</button>
    </form>
</div>

</html>